nav {
    color: $colorPrimary;
    background: $colorDark;
    display: flex;
    ul {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-content: center;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: flex;
        }
    }
}

nav a {
    text-decoration: none;
    color: $colorPrimary;
    text-transform: uppercase;
    align-self: flex-end;
    padding-bottom: 23px;
    &:hover {
        color: $colorAccent;
    }
}

nav ul li:first-child {
    @include ffSize(42);
    font-weight: fontWeightBold;
    font-family: $ffPrimary;
}