.feature {
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: space-between;
    .featureLeft {
        width: 40%;
    }
    .featureRight {
        width: 50%;
    }
    .featureLeft,
    .featureRight {
        img {
            height: 400px;
            width: 100%;
            position: relative;
            object-fit: cover;
        }
        .discoverText {
            margin: 0 0 0 15.25%;
            padding-top: 20px;
        }
        .upcomingWorkshopsText {
            margin: 0 15.25% 0 0;
            padding-top: 94px;
        }
    }
}

img.right {
    @extend .boxShadowLeft;
    bottom: -20px;
}

img.left {
    @extend .boxShadowRight;
    top: -20px;
}

.discoverText,
.upcomingWorkshopsText {
    height: 400px;
    h3 {
        @extend .heading6;
    }
}