// colors
$colorPrimary: rgb(240, 239, 237);
$colorSecondary: #2c2c2c;
$colorDark: rgb(0, 0, 0);
$colorAccent: rgb(248, 231, 28);
$colorAccentLight:rgb(14, 144, 45);
$colorAccentDark:rgb(7, 65, 21);
// fonts
$ffPrimary: 'Roboto',
sans-serif;
$ffSecondary: 'Josefin Sans',
sans-serif;
$fontWeightBold: 700;
$fontWeightLight:400;
// mixin
// mixins
@mixin header($url) {
    height: 100vh;
    background: url($url) fixed;
    background-size: cover;
}

@mixin ffSize($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize/10) *1rem;
}

@mixin ls($letterSpacingSize) {
    letter-spacing: $letterSpacingSize * 1px;
    letter-spacing: ($letterSpacingSize/10) *1rem;
}

@mixin lh($lineHeightSize) {
    line-height: $lineHeightSize * 1px;
}

// @extends
.heading1 {
    font-family: $ffSecondary;
    font-weight: $fontWeightLight;
    @include ffSize(166);
}

.heading2 {
    font-family: $ffSecondary;
    font-weight: $fontWeightBold;
    @include ffSize(80);
    @include lh(92);
    text-align: center;
}

.heading3 {
    font-family: $ffSecondary;
    font-weight: $fontWeightBold;
    @include ffSize(56.3);
    @include ls(1.3);
    text-align: center;
}

.heading4 {
    font-family: $ffSecondary;
    font-weight: $fontWeightBold;
    @include ffSize(43);
    @include ls(1.3);
}

.heading5 {
    font-family: $ffPrimary;
    font-weight: $fontWeightBold;
    @include ffSize(42);
    @include ls(1);
}

.heading6 {
    font-family: $ffSecondary;
    font-weight: $fontWeightBold;
    @include ffSize(32);
    @include ls(1);
}

.heading7 {
    font-family: $ffSecondary;
    font-weight: $fontWeightBold;
    @include ffSize(20);
    @include lh(32);
}

p {
    font-family: $ffPrimary;
    font-weight: $fontWeightLight;
    @include ffSize(20);
    @include lh(32);
    color: $colorSecondary;
}

input,
textarea {
    font-family: $ffSecondary;
    font-weight: $fontWeightLight;
    font-size: 20px;
    @include lh(32);
}

body {
    background: $colorPrimary;
}

.paddingLarge {
    padding: 15rem 0;
    padding: 150px 0;
}

.paddingSmall {
    padding: 3rem 0;
    padding: 30px 0;
}

// Container
.container {
    max-width: 1600px;
    min-width: 320px;
    width: 90%;
    margin: 0 auto;
}

// Button
.button {
    text-decoration: none;
    color: white;
    background: $colorAccentLight;
    padding: 2rem 4rem;
    display: inline-block;
    @include ffSize(20);
    font-family: $ffSecondary;
    font-weight: $fontWeightBold;
    @include ls(1);
    text-align: center;
    &:hover {
        background: $colorAccent;
        color: $colorPrimary;
    }
}

.buttonPost {
    @extend .button;
    padding: 1rem 0; // width: 100%;
}

// image
.boxShadowRight {
    box-shadow: 20px 20px $colorAccent;
    &:hover {
        box-shadow: 20px 20px $colorAccentLight;
    }
}

.boxShadowLeft {
    box-shadow: -20px 20px $colorAccent;
    &:hover {
        box-shadow: -20px 20px $colorAccentLight;
    }
}

#name:focus,
#email:focus,
#comment:focus,
#message:focus {
    background-color: $colorAccentLight;
}

input {
    font-size: 20px;
}