// colors
$colorPrimary: rgb(240, 239, 237);
$colorSecondaryDark:rgb(44, 44, 44);
$colorSecondaryLight:rgb(79, 79, 79);
$colorAccent: rgb(248, 231, 28);
$colorAccentLight:rgb(14, 144, 45);
$colorAccentDark:rgb(7, 65, 21);

// fonts
$ffPrimary:  'Roboto', sans-serif;
$ffSecondary: 'Josefin Sans', sans-serif;
$fontWeightBold: 700;
$fontWeightLight:400;

// mixins
@mixin header($url) {
    height:100vh;
    background: url($url) fixed;
    background-size: cover;
};

@mixin ffSize($fontSize){
    font-size: $fontSize * 1px;
    font-size: ($fontSize/10) *1rem;
}

.container{
    max-width:1600px;
    min-width:320px;
    width:90%;
    margin:0 auto;
}

// margin
