.intro {
    background: $colorPrimary;
    @extend .paddingLarge;
}

.introText {
    text-align: center;
    padding: 0 2rem;
    h2 {
        font-family: $ffSecondary;
        font-weight: $fontWeightBold;
        @include ffSize(56.3);
        margin: 0;
    }
    p{
        @include ffSize(20);
        line-height: 32px;
        
    }
}