nav.navMain {
    color: $colorPrimary;
    display: flex;
    ul {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-content: center;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: flex;
            padding-right: 10px;
        }
    }
}

nav.navMain a {
    text-decoration: none;
    color: $colorPrimary;
    text-transform: uppercase;
    align-self: flex-end;
    padding-bottom: 23px;
    &:hover {
        color: $colorAccent;
    }
}

nav.navMain ul li:first-child {
    @include ffSize(42);
    font-weight: fontWeightBold;
    font-family: $ffPrimary;
}

nav.navhamburger {
    position: absolute;
    top: 40px;
    width: 50%;
    height: calc(100% - 45px);
    z-index: 5;
    background: pink;
    padding-top: 40px;
    &:hover {
        background: green;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

// .navhamburger a {
//     text-decoration: none;
// }

i.fas.fa-bars.hamburgerMenu {
    position: absolute;
    top: 40px;
    left: 50px;
    display: block;
    color:white;
    &:hover {
        color: green;
    }
}

// .fas:before::hover .navhamburger {
//     display:none;
// }