@import 'partials/setup';
@import 'partials/global';
@import 'partials/blogHeader';
@import 'partials/BlogNav';
@import 'partials/blogInfo';
@import 'partials/form';
@import 'partials/footer';
@import 'partials/mediaQuery';