article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.heading1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 166px;
  font-size: 16.6rem; }

.heading2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 80px;
  font-size: 8rem;
  line-height: 92px;
  text-align: center;
  color: #2c2c2c; }

.heading3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 56.3px;
  font-size: 5.63rem;
  letter-spacing: 1.3px;
  letter-spacing: 0.13rem;
  text-align: center;
  color: #2c2c2c; }

.heading4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 43px;
  font-size: 4.3rem;
  letter-spacing: 1.3px;
  letter-spacing: 0.13rem;
  color: #2c2c2c; }

.heading5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  font-size: 4.2rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  color: #2c2c2c; }

.heading6, .contactInfo h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-size: 3.2rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  color: #2c2c2c; }

.heading7 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
  color: #2c2c2c; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
  color: #2c2c2c;
  color: #2c2c2c; }

input,
textarea {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px; }

body {
  background: #f0efed; }

.paddingLarge {
  padding: 15rem 0;
  padding: 150px 0; }

.paddingSmall, footer p {
  padding: 3rem 0;
  padding: 30px 0; }

.container {
  max-width: 1600px;
  min-width: 320px;
  width: 90%;
  margin: 0 auto; }

.button, .buttonPost {
  text-decoration: none;
  color: white;
  background: #0e902d;
  padding: 2rem 4rem;
  display: inline-block;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  text-align: center; }
  .button:hover, .buttonPost:hover {
    background: #f8e71c;
    color: #f0efed; }

.buttonPost {
  padding: 1rem 0; }

.boxShadowRight {
  -webkit-box-shadow: 20px 20px #f8e71c;
  box-shadow: 20px 20px #f8e71c; }
  .boxShadowRight:hover {
    -webkit-box-shadow: 20px 20px #0e902d;
    box-shadow: 20px 20px #0e902d; }

.boxShadowLeft, .container form {
  -webkit-box-shadow: -20px 20px #f8e71c;
  box-shadow: -20px 20px #f8e71c; }
  .boxShadowLeft:hover, .container form:hover {
    -webkit-box-shadow: -20px 20px #0e902d;
    box-shadow: -20px 20px #0e902d; }

#name:focus,
#email:focus,
#comment:focus,
#message:focus {
  background-color: #0e902d; }

input {
  font-size: 20px; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  color: black; }

.skip-link:focus {
  left: 0;
  background: white;
  z-index: 999; }

header {
  height: 100vh;
  background: url("../images/contact-header-1.jpg") fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1 {
  font-size: 166px;
  font-size: 16.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #f8e71c; }

h1:last-child {
  padding-bottom: 5rem;
  padding-bottom: 50px; }

nav.navMain {
  color: #f0efed;
  background-color: #040a0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  nav.navMain ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0;
    padding: 0; }
    nav.navMain ul li {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: 10px; }

nav a {
  text-decoration: none;
  color: #f0efed;
  text-transform: uppercase;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-bottom: 23px; }
  nav a:hover {
    color: #f8e71c; }

nav ul li:first-child {
  font-size: 42px;
  font-size: 4.2rem;
  font-weight: fontWeightBold;
  font-family: "Roboto", sans-serif; }

#hamburger {
  color: white;
  position: absolute;
  right: 20px;
  top: 42px;
  display: none; }

form {
  background: #f0efed;
  margin-right: 12.5%; }
  form .container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; }

.griditem {
  width: 100%; }
  .griditem input,
  .griditem textarea {
    width: 100%;
    background: #f0efed;
    padding: 20px 30px; }

input {
  border: 0;
  border-bottom: 2px solid #0e902d; }

textarea {
  border: 2px solid #0e902d; }

a {
  width: 100%; }

.grid3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row-span: 2;
  grid-row: span 2; }

.grid4 {
  background: red;
  -ms-grid-column-span: 2;
  grid-column: span 2; }

main {
  background: #f0efed; }
  main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main .container .contactInfo {
      width: 25%; }

.contactInfo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .contactInfo .social {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%; }
    .contactInfo .social a {
      padding-right: 20px; }
  .contactInfo h2 {
    margin: 0; }
  .contactInfo p {
    margin: 0; }

.social i {
  font-size: 20px;
  font-size: 2rem;
  color: #0e902d; }
  .social i:hover {
    color: #f8e71c; }

.container form {
  position: relative;
  top: -200px;
  width: 65%;
  margin-right: 0;
  background: white;
  padding: 5%; }
  .container form input,
  .container form textarea {
    background: white; }

footer {
  background: #2c2c2c; }
  footer p {
    margin: 0;
    text-align: center;
    color: #f0efed; }

@media (max-width: 1500px) {
  .blogRight {
    width: 53%; } }

@media (max-width: 1400px) {
  h1 {
    font-size: 100px;
    font-size: 10rem; }
  #contactSection .container form {
    width: 55%;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #contactSection .container .contactInfo {
    width: 40%; } }

@media (max-width: 1250px) {
  p {
    font-size: 17px;
    font-size: 1.7rem; }
  h1 {
    font-size: 100px;
    font-size: 10rem; }
  nav.navMain ul li:first-child {
    font-size: 38px;
    font-size: 3.8rem; }
  #contactSection .container form {
    position: static; }
  #contactSection .container form {
    width: 100%; }
  .contactInfo {
    padding-bottom: 5rem;
    padding-bottom: 50px; }
  #contactSection {
    padding: 15rem 0;
    padding: 150px 0; }
  #blog {
    top: 0; }
    #blog aside {
      top: 0;
      width: 100%; }
      #blog aside .asideImage {
        width: 100%; }
      #blog aside .asidetext {
        top: 0;
        padding: 0 4.16% 0 4.16%;
        margin: 0; }
    #blog .blogRight {
      width: 100%;
      padding: 3rem 0;
      padding: 30px 0; }
  .asideImage img {
    display: block; }
  .blogInfoImage img {
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .blogInfoImage img:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .blogRight .blogInfoText {
    border: none; }
  .blogComment,
  .blogform {
    margin: 0 4.16% 0 4.16%; }
  .blogComment .commentItem {
    padding: 3rem 0;
    padding: 30px 0; }
  #contactSection .container .contactInfo {
    width: 60%; } }

@media (max-width: 1000px) {
  h1 {
    font-size: 80px;
    font-size: 8rem; }
  nav.navMain ul li:first-child {
    font-size: 30px;
    font-size: 3rem; }
  nav.navMain a {
    padding-bottom: 13px; }
  .introText h2 {
    font-size: 50px;
    font-size: 5rem;
    margin: 0; } }

@media (max-width: 800px) {
  .introText h2 {
    font-size: 50px;
    font-size: 5rem;
    margin: 0; }
  header .headerimage {
    display: none; }
  .feature .featureLeft,
  .feature .featureRight {
    width: 100%; }
    .feature .featureLeft img.right,
    .feature .featureLeft img.left,
    .feature .featureRight img.right,
    .feature .featureRight img.left {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .feature .featureLeft .discoverText,
    .feature .featureLeft .upcomingWorkshopsText,
    .feature .featureLeft .discoverText,
    .feature .featureLeft .upcomingWorkshopsText,
    .feature .featureRight .discoverText,
    .feature .featureRight .upcomingWorkshopsText,
    .feature .featureRight .discoverText,
    .feature .featureRight .upcomingWorkshopsText {
      padding-right: 0;
      padding-left: 0;
      margin: 0 6.25%; }
    .feature .featureLeft .upcomingWorkshopsText,
    .feature .featureRight .upcomingWorkshopsText {
      padding-top: 0; }
  .info .container .infoItem {
    width: 100%; }
  .founder .container .imageFounder {
    width: 100%; }
  .founder .container img {
    -webkit-box-shadow: none;
    box-shadow: none; }
    .founder .container img:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .founder .container .founderText {
    width: 100%;
    margin-top: 20px; }
  .gallery .container img {
    width: 100%;
    margin-bottom: 30px; }
  .gallery .container img:last-child {
    margin-bottom: 0; }
  .blogRight .blogInfoText {
    left: 0;
    margin: 0; }
  .blogComment .commentItem .commentImage {
    width: 25%; }
  .commentItemText {
    width: 100%; }
  #contactSection .container .contactInfo {
    width: 100%; } }

@media (max-width: 650px) {
  h1,
  .blog .container h1 {
    font-size: 50px;
    font-size: 5rem; }
  nav.navMain {
    display: none; }
  #hamburger {
    display: block; }
  #contactHeader .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    #contactHeader .container .headerText {
      -ms-flex-item-align: end;
      align-self: flex-end;
      padding-bottom: 5rem;
      padding-bottom: 50px; }
      #contactHeader .container .headerText h1 {
        margin-bottom: 40px; }
  .griditem input,
  .griditem textarea {
    padding: 20px 2px; }
  .contactInfo h2 {
    font-size: 22px;
    font-size: 2.2rem; } }

@media (max-width: 400px) {
  .blog .container h1,
  h1 {
    font-size: 45px;
    font-size: 4.5rem; }
  .blog .container h1 .introText h2 {
    font-size: 25px;
    font-size: 2.5rem;
    margin: 0; }
  .discoverText h3,
  .upcomingWorkshopsText h3,
  .infoItem .infoText h3 {
    font-size: 23px;
    font-size: 2.3rem; }
  .heading5,
  .blogInfoText h2,
  .blogComment h3 {
    font-size: 32px;
    font-size: 3.2rem; }
  .commentItemText h4 {
    width: 100%; } }
